<h1> Welcome </h1>
<p> Story Books 1.0.0 </p>

<p> Post stories from your life and choose which ones to share! </p>
{{#if user}}

{{else}}
  <a class="btn red darken-1" href="/auth/google"><i tag class="fa fa-google left"> </i> Login With Google </a>
{{/if}}
